<?xml version="1.0"?>

<model>
  <name>AWL16</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Philippe Lebel</name>
    <email>Optional: p.lebel@phantomintelligence.com</email>
  </author>

  <description>
    A model of a AWL16 LiDAR sensor.
  </description>

</model>
